.jumbotron {
    text-align: center;
    background-color: aquamarine;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

  .employee-card {
    width: 16rem;
    float: left;
    margin: 20px;
  }

  .card-header {
    background-color: dodgerblue;
    color: cornsilk;
  }

  .manager-card-header {
    /*@extend .card-header;*/
    background-color: fuchsia;
    color: cornsilk;
  }

  .card-header-engineer {
    background-color: dodgerblue;
    color: cornsilk;
  }